*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
}
html {
  scroll-behavior: smooth;
  
}
body{
  
}



.parallax {
  transform: translateY(0);
  transition: transform 0.1s ease-in-out;
}

@media screen and (min-width: 769px) {
  .parallax {
    transform: none;
    transition: none;
  }
}





.wrapper {
      position: fixed;
      top: 50%; 
    
      margin-left: auto;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;
      
      height: 10vh;
      overflow: hidden;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(159, 132, 132, 0)
  );
  z-index: 10;

  
}


@keyframes scrollLeft {
  to {
    left: -200px;
  }
}



.item {
  overflow-x: hidden;
  mix-blend-mode: difference;
  white-space: nowrap;
  color: red;
  mix-blend-mode: difference;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 900;
  font-size: 7vh;
  max-width: 70%;
  
}

.item1 {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 5 * (5 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 5 * (5 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 5 * (5 - 8) * -1);
}





/*prosta opcja, jesli nic nie zadziala
img{
  width:30%;
  margin: auto;
  display: flex;
}*/


.container img {
  width: 40vh;
  max-height: 49vh;
  max-width: 40vh;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgb(178, 178, 178);
  will-change: transform;
  border-radius: 5px;
}

.container {
  display: flex;
  gap: 2vh;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;
  
}

.menu-bar{
  /*display: flex;*/
  position:sticky;

  text-align: center;
  justify-content: center;
  gap: auto;
  position:sticky;
  width: 100%;
  top:0;
  left:0;
  height: 7vh;
  align-items: center;
  display: flex;

  
  z-index:1000;
  

}
.menu-bar a {
  font-family: Arial, Helvetica, sans-serif;

  color: red; 
  text-decoration: none; 
  padding: 10px 20px; 
  display: inline-block; 
  transition: 0.5s ease;

  
}


.menu-bar a:hover {
  background: rgba(255, 255, 255, 0.24);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);
opacity: 1;


}



.epk{
  display: block;
  position:relative;
  width: 100%;
  height: 1000px;
  /*background-color: #daeeff;*/
  background: rgba(255, 255, 255, 0.24);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
  z-index: 1000;
  
}



footer{
  display: block;
  position: relative;
  padding: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1001;
  width: fit-content;
  margin: auto;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(150, 150, 150, 0.476);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
}



footer p{
  color: black;
}

footer a{
  font-family: Arial, Helvetica, sans-serif;

  color: red; 
  text-decoration: none; 
  transition: 0.5s ease-in-out;
}

footer a:hover{
  color:black;

}

.epk div{
  width: 40vh;
  max-height: 49vh;
  max-width: 40vh;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgb(178, 178, 178);
  will-change: transform;
  border-radius: 5px;
}