*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  
}
/* Firefox  */
@-moz-document url-prefix() {
  .bloom {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;

    /* symulacja brightness(1.2) */
    background: rgba(255, 255, 255, 0.15) !important;
  }
}



html {
  scroll-behavior: smooth;
  
}
body{
  overflow-x: hidden;
  background-color: #ff5323;
  /*
  KOLORY
  Zielony fajny: 


  */
}

.bloom {
  position: fixed;
    inset: 0;
    z-index: 500; /* poniżej grain, powyżej tła */
    pointer-events: none;

    
    
backdrop-filter: blur(0.6px) brightness(1.2);
    background: rgba(255, 255, 255, 0.05); 
}


.circle {

  --circle-size: 35px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 2.5px solid black;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s;

  
}
@media (hover: none) and (pointer: coarse) {
  .cursor-follow {
    display: none !important;
  }
  
}


.grain {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;

    z-index: 9999; /* może być mega wysokie */
    pointer-events: none; /* najważniejsze */
}

.grain::before {
    content: "";
    position: fixed;
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.15;

    animation: noise 1s steps(2) infinite;
    pointer-events: none; /* też ważne */
}

/* ANIMACJA */
@keyframes noise {
    0%   { transform: translate3d(0, 9rem, 0); }
    10%  { transform: translate3d(-1rem, -4rem, 0); }
    20%  { transform: translate3d(-8rem, 2rem, 0); }
    30%  { transform: translate3d(9rem, -9rem, 0); }
    40%  { transform: translate3d(-2rem, 7rem, 0); }
    50%  { transform: translate3d(-9rem, -4rem, 0); }
    60%  { transform: translate3d(2rem, 6rem, 0); }
    70%  { transform: translate3d(7rem, -8rem, 0); }
    80%  { transform: translate3d(-9rem, 1rem, 0); }
    90%  { transform: translate3d(6rem, -5rem, 0); }
    100% { transform: translate3d(-7rem, 0, 0); }
}






/*SEKCJA NAPISU NA SRODKU*/

.wrapper {
      position: fixed;
      top: 50%; 
    
      margin-left: auto;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;
      
      height: 10vh;
      overflow: hidden;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(159, 132, 132, 0)
  );
  z-index: 10;

}


@keyframes scrollLeft {
  to {
    left: -200px;
  }
}



.item {
  overflow-x: hidden;
  mix-blend-mode: difference;
  white-space: nowrap;
  color: black;
  mix-blend-mode: difference;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  font-size: 7vh;
  max-width: 70%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/*jakbym chcial zmienic ilosc napisow to to 6 zmienic na ta liczbe ok?*/
.item1 {
  animation-delay: calc(30s / 6 * (6 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 6 * (6 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 6 * (6 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 6 * (6 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 6 * (6 - 8) * -1);
}





/*prosta opcja, jesli nic nie zadziala
img{
  width:30%;
  margin: auto;
  display: flex;
}*/

/*PARALAKSA

.parallax {
  transform: translateY(0);

}
*/

/*ZDJECIA I MODUŁY

.container .element {
  width: 40vh;
  max-height: 49vh;
  max-width: 40vh;
  object-fit: cover;
  box-shadow: inset 2px 2px 2px rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgb(178, 178, 178);
  will-change: transform;
  border-radius: 5px;
  overflow-x: clip;
  transition: 0.1s;
}

.container div{
  display:flex;
  position:relative;
  z-index: 15;
  background: rgba(134, 134, 134, 0.24);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(150, 150, 150, 0.476);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: fit-content;
  height: fit-content;
  
}

.element p{
  margin: 0;
  width: 100%;
  
  display:contents;

  max-width: 40vh;
}

.container {
  display: flex;
  gap: 2vh;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;
  
}
*/

/*MENU BAR*/

.menu-bar{
  /*display: flex;*/

  position:sticky;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: auto;
  position:sticky;
  width: 100%;
  top:0;
  left:0;
  height: 10vh;
  align-items: center;
  
  z-index:20;
  

}
.menu-bar a {
  font-family: Arial, Helvetica, sans-serif; 
  position:relative;
  color: black; 
  text-decoration: none; 
  padding: 10px 20px; 
  display: inline-block; 
  transition: 0.5s ease;

  
}

@media (max-width: 768px) {
  .menu-bar {
    top: 20px; 
  }
  #pod-menu-bar{
    height: 2vh;
  }
}



/**/

.menu-bar a:hover {
  /*background: rgba(255, 255, 255, 0.24);*/
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
/*backdrop-filter: blur(2px);*/
/*-webkit-backdrop-filter: blur(2px);*/
opacity: 1;
color: rgb(0, 0, 0);


}



/*EPK, NOT USED

.epk{
  display: block;
  position:relative;
  width: 100%;
  height: 1000px;
  background-color: #daeeff;
  background: rgba(255, 255, 255, 0.24);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
  z-index: 1000;
  
}

.epk div{
  width: 40vh;
  max-height: 49vh;
  max-width: 40vh;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgb(178, 178, 178);
  will-change: transform;
  border-radius: 5px;
}
*/

/*STOPA*/


/*
stara stopa
footer{
  display: block;
  position: relative;
  padding: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1001;
  width: 100%;
  margin: auto;
  background: rgba(255, 255, 255, 0.24);

  box-shadow: 0 4px 30px rgba(150, 150, 150, 0.476);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
}

*/


footer p{
  color: black;
}

footer a{
  font-family: Arial, Helvetica, sans-serif;

  color: rgb(0, 0, 0); 
  text-decoration: none; 
  transition: 0.5s ease-in-out;
}

footer a:hover{
  color:rgb(39, 39, 39);

}

footer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  height: 10vh; 
  font-family: Arial, Helvetica, sans-serif;
  position: relative; 
  z-index: 100; 
  position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
  
}
#left, #right {
  padding: 2vh;
  width: 50%;
}
#left {
  text-align: left;
}
#right {
  text-align: right;
}

.spacer{
  width: 100%;
}

/*
.okladka{
  transition: 2s;
}
.okladka:hover{

  filter:grayscale(100%);
  
}
*/

.okladka{
  z-index: 15;
  transition:6s;

}
/*
.okladka:hover{
  -webkit-filter: saturate(0%);

}
*/

